.tab{
  margin:80px;
  box-shadow: 1px 1px 1px 1px rgb(226, 116, 152);
  padding:5px;
  padding-bottom: 0px;
  border-radius: 8px;


}
.menu{
  display:inline-block;
  margin-right: 0px;
  margin-left: 1020px;
}
.slip{
  display: inline-block;
  background-color: rgb(209, 204, 204);
  border-radius: 5px 0px 0px 5px ;
  padding-left: 5px;
  padding-right: 5px;
}
h4{
  display: inline-block;
}

td,th{
  text-align: center;
}

h1{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}